.instawp-info-holder{
	background:#f2f2f2;
	padding:20px;
}
.instawp-info-holder img, .instawp-info-holder p{
	display:block;
	margin:auto;
	text-align:center;
}
.instawp-info-holder #hashtag{
	font-weight:bold;
}
.instawp-wrap{
	display:block;
	float:left;
	width:100%;
}
.ig-icon{
	width:18px;
	height:18px;
	margin-right:5px;
}
.item-wrap{
	margin:0;
	padding:0;
	float:left;
	display:inline-block;
}
.item-wrap.col-item-1{
	width:100%;
}
.item-wrap.col-item-2{
	width:50%;
}
.item-wrap.col-item-3{
	width:33.333333%;
}
.item-wrap.col-item-4{
	width:25%;
}
.item-wrap.col-item-5{
	width:20%;
}
.instagram-photo{
	padding:5px;
}
.instagram-photo .instawp-image{
	width:100%;
	padding:0;
	margin:5px;
	-webkit-box-shadow: 0 0 5px 0 #000000;
	box-shadow: 0 0 5px 0 #000000;
}
.instagram-photo p, .instagram-photo a{
	display:block;
	color:#000;
	margin-left:5px;
	text-decoration:none;
}
.instagram-photo a:hover, .instagram-photo a:focus, .instagram-photo a:active{
	color:#000;
	text-decoration:none;
}
.clearfix:before,
.clearfix:after {
  display: table;
  content: " ";
}
.clearfix:after {
  clear: both;
}